html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Gobal css */

.topHeaderhover {
  background-color: white;
}

.topHeaderhover a {
  color: black;
}

.topHeaderforscroll {
  background-color: white;
}

.topHeaderforscroll a {
  color: black;
}

/* User Css */

body {
  background-color: #bebebe;
}

* {
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
  letter-spacing: 3px;
  position: relative;
}

.header {
  position: relative;
  background-image: url("../img/banner.avif");
  height: 700px;
  opacity: 0.7;
  background-size: cover;
}

.header a {
  font-size: 12px;
}

.top-header {
  z-index: 9999 !important;
  position: fixed;
  top: 0;
  width: 100%;
}

/* top-header js style */

.title {
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
}

.title a {
  width: 122px;
  height: 20px;
  display: inline-block;
  font-size: 18px;
}

ul.account-nav {
  display: flex;
  position: absolute;
  top: 18px;
  right: 18px;
}

ul.account-nav li {
  padding-right: 15px;
}

ul.account-nav a {
  padding-top: 2px;
  padding-bottom: 2px;
  display: block;
}

ul.list-nav {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #fcfcfc;
}

ul.list-nav li {
  padding-left: 15px;
  padding-right: 15px;
}

ul.list-nav a {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: relative;
  overflow: hidden;
}

ul.list-nav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.5s;
}

ul.list-nav a:hover::before {
  width: 100%;
}

.aHover {
  border-bottom: 2px solid #000;
}

.banner-nav {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.banner-Info {
  position: absolute;
  line-height: 3.5;
  bottom: 80px;
  left: 40px;
}

.banner-Info span {
  font-size: 24px;
}

/* content */

/* .content {

} */

.content h2 a,
span {
  color: #fff;
}

.content {
  z-index: 1;
  padding-top: 30px;
  display: flex;
  /* 主軸置中 */
  justify-content: center;
  /* 交錯軸置中 */
  align-items: center;
}

.content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #000;
}

.recommend {
  /* list-style: none; */
  /* padding: 0; */
  display: flex;
  gap: 20px;
}

.recommend-box {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

.coach-name {
  font-size: 20px;
  letter-spacing: 5px;
  position: absolute;
  bottom: 25%;
  left: 50px;
}

.coach {
  max-width: 100%;
  height: 500px;
  opacity: 0.9;
}

.coach:hover {
  opacity: 0.5;
  transition: all 0.5s;
}

.details {
  padding: 20px;
  color: #000;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  bottom: 40px;
  left: 100px;
}

/* shop-list */

.bestsellers-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  color: #000;
  letter-spacing: 3px;
}

.bestsellers {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.bestsellers-title {
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 18px;
}

.shop-information {
  /* display: inline-block; */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #000;
  width: 250px;
  height: 350px;
  margin: 10px;
}

.shop {
  position: absolute;
  /* display: flex; */
  line-height: 2rem;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.shop a {
  letter-spacing: 3px;
  display: block;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.shop p {
  color: #000;
}

.shop a:hover {
  transition: all 0.5s;
  letter-spacing: 3px;
  display: block;
  padding: 15px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}

.shop-photo-1 {
  background-image: url("../img/hotsale-1.avif");
  background-size: cover;
  background-position: center;
}

.shop-photo-2 {
  background-image: url("../img/hotsale-2.avif");
  background-size: cover;
  background-position: center;
}

.shop-photo-3 {
  background-image: url("../img/hotsale-3.avif");
  background-size: cover;
  background-position: center;
}

.shop-photo-4 {
  background-image: url("../img/hotsale-4.avif");
  background-size: cover;
  background-position: center;
}
.shop-photo-5 {
  background-image: url("../img/hotsale-5.avif");
  background-size: cover;
  background-position: center;
}

/* footer */

.viewAll {
  text-align: center;
}

.viewAll a {
  display: inline-block;
  padding: 35px;
  background-color: #000;
}

.viewAll a:hover {
  transition: all 0.5s;
  background-color: #fff;
  color: #000;
  opacity: 0.5;
}

.footer {
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.footer h3,
p {
  color: #272727;
}

.footer p {
  color: #8e8e8e;
  padding-top: 10px;
  font-size: 7px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.aboutUs,
.contactUs {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #000;
  padding: 10px;
}

.aboutUs {
  width: 300px;
}

/* .subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.subscribe {
  padding-top: 30px;
  padding-left: 65px;
}

.subscribe input {
  color: blue;
  text-align: center;
}

.userEmail {
  margin-top: 10px;
  display: block;
}

.sendEnail {
  margin-top: 10px;
  padding: 15px;
  display: inline-block;
  background-color: #000;
  color: #fff;
}
